/* 1. GLOBAL STYLE */

/* 1.1 Variables */
:root {
  --main_color: blue;
  --accent_color: pink;
}

header {
  background-image: url("https://source.unsplash.com/random/");
  height: 50%;
  min-height: 500px;
  color: var(--main_color);
  border: 1px solid var(--accent_color)
}